<voc-main>
    <voc-sidebar sidebar [headingText]="'Sidebar.Overview' | translate" [dataItems]="sidebarItems">
        <a [routerLink]="['/']" sidebar-brand>{{ 'Voicipher' | translate }}</a>
    </voc-sidebar>
    <ng-container *ngIf="identity$ | async as identity">
        <voc-topbar topbar avatarText="{{identity.givenName}} {{identity.familyName}}">
            <ng-container topbar-items>
                <voc-message-box [header]="'MessageBox.MessageCenter' | translate"
                    [navigationButtonText]="'MessageBox.ReadMore' | translate" [navigationUrl]="['/messages']"
                    [messages]="messages" [activeMessages]="0"></voc-message-box>
            </ng-container>

            <a class="dropdown-item" [routerLink]="['/account']">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                {{ 'Topbar.Profile' | translate }}
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                {{ 'Topbar.Logout' | translate }}
            </a>
        </voc-topbar>
    </ng-container>
    <span copyright [innerHTML]="'Copyright' | translate"></span>
    <router-outlet></router-outlet>
</voc-main>

<voc-logout-dialog [title]="'LogoutDialog.Title' | translate" [body]="'LogoutDialog.Body' | translate"
    [cancelButtonText]="'LogoutDialog.Cancel' | translate" [okButtonText]="'LogoutDialog.Logout' | translate"
    (okCommand)="logout()">
</voc-logout-dialog>

<p-toast position="top-center" key="error"></p-toast>
<p-toast position="bottom-right" key="info"></p-toast>