<voc-main>
    <voc-sidebar sidebar [headingText]="'Sidebar.Overview' | translate" [dataItems]="sidebarItems">
        <a [routerLink]="['/']" sidebar-brand>Voicipher</a>
    </voc-sidebar>
    <voc-topbar topbar></voc-topbar>
    <span copyright [innerHTML]="'copyright' | translate"></span>
    <router-outlet></router-outlet>
</voc-main>

<voc-logout-dialog [title]="'LogoutDialog.Title' | translate" [body]="'LogoutDialog.Body' | translate"
    [cancelButtonText]="'LogoutDialog.Cancel' | translate" [okButtonText]="'LogoutDialog.Logout' | translate"
    (okCommand)="logout()">
</voc-logout-dialog>