<section class="page-title page-title-overlay bg-cover" data-background="images/background/about.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-white position-relative">
                    {{ 'PrivacyPage.Headline' | translate }}<span class="watermark-sm">{{ 'PrivacyPage.Headline' |
                        translate }}</span>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <p class="lead">
                {{ 'PrivacyPage.Text1' | translate }} <a [routerLink]="['/']">https://voicipher.com/</a>.
            </p>

            <h4>{{ 'PrivacyPage.Text2' | translate }}</h4>
            <p class="lead">
                {{ 'PrivacyPage.Text3' | translate }}
            </p>
            <ul class="lead">
                <li>{{ 'PrivacyPage.Text4' | translate }}</li>
                <li>{{ 'PrivacyPage.Text5' | translate }}</li>
                <li>{{ 'PrivacyPage.Text6' | translate }}</li>
                <li>{{ 'PrivacyPage.Text7' | translate }}</li>
                <li [innerHTML]="'PrivacyPage.Text8' | translate"></li>
                <li>{{ 'PrivacyPage.Text9' | translate }}</li>
            </ul>

            <h4>{{ 'PrivacyPage.Text10' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text11' | translate }}</p>
            <p class="lead">{{ 'PrivacyPage.Text12' | translate }}</p>

            <h4>{{ 'PrivacyPage.Text13' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text14' | translate }}</p>
            <ul class="lead">
                <li>{{ 'PrivacyPage.Text15' | translate }}</li>
                <li>{{ 'PrivacyPage.Text16' | translate }}</li>
            </ul>
            <p class="lead">{{ 'PrivacyPage.Text17' | translate }}</p>

            <h4>{{ 'PrivacyPage.Text18' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text19' | translate }}</p>
            <ul class="lead">
                <li>{{ 'PrivacyPage.Text20' | translate }}</li>
                <li>{{ 'PrivacyPage.Text21' | translate }}</li>
            </ul>

            <h4>{{ 'PrivacyPage.Text22' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text23' | translate }}</p>

            <h4>{{ 'PrivacyPage.Text24' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text25' | translate }}</p>
            <ul class="lead">
                <li><b>{{ 'PrivacyPage.Text26' | translate }}</b></li>
                <li><b>{{ 'PrivacyPage.Text27' | translate }}</b></li>
                <li><b>{{ 'PrivacyPage.Text28' | translate }}</b></li>
            </ul>

            <h4>{{ 'PrivacyPage.Text29' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text30' | translate }}</p>
            <p class="lead">{{ 'PrivacyPage.Text31' | translate }}</p>
            <p class="lead">{{ 'PrivacyPage.Text32' | translate }}</p>
            <p class="lead">{{ 'PrivacyPage.Text33' | translate }}</p>
            <ul class="lead">
                <li>{{ 'PrivacyPage.Text34' | translate }}</li>
                <li>{{ 'PrivacyPage.Text35' | translate }}</li>
            </ul>

            <h4>{{ 'PrivacyPage.Text36' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text37' | translate }}</p>

            <h4>{{ 'PrivacyPage.Text38' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text39' | translate }}</p>
            <p class="lead">{{ 'PrivacyPage.Text40' | translate }}</p>
            <ul class="lead">
                <li>{{ 'PrivacyPage.Text41' | translate }}</li>
                <li>{{ 'PrivacyPage.Text42' | translate }}</li>
                <li>{{ 'PrivacyPage.Text43' | translate }}</li>
            </ul>
            <p class="lead">{{ 'PrivacyPage.Text44' | translate }}</p>

            <h4>{{ 'PrivacyPage.Text45' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text46' | translate }}</p>

            <h4>{{ 'PrivacyPage.Text47' | translate }}</h4>
            <p class="lead">{{ 'PrivacyPage.Text48' | translate }}</p>
            <p class="lead">{{ 'PrivacyPage.Text49' | translate }}</p>
            <p class="lead">{{ 'PrivacyPage.Text50' | translate }}</p>
        </div>
    </div>
</section>