<div class="preloader">
    <img src="assets/images/preloader.gif" alt="preloader">
</div>

<!-- nav part start -->
<div class="naviagtion fixed-top transition">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark p-0">
            <a class="navbar-brand p-0" [routerLink]="getLink('home')"><img src="assets/images/logo/logo-dark.png"
                    alt="{{ 'Voicipher' | translate }}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navigation">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" [routerLink]="getLink('home')">{{ 'AppPage.Home'
                            | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" [routerLink]="getLink('about')">{{
                            'AppPage.WhatIsVoicipher' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" [routerLink]="getLink('howTo')">{{
                            'AppPage.HowTo' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" [routerLink]="getLink('pricing')">{{
                            'AppPage.Pricing' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" [routerLink]="getLink('contact')">{{
                            'AppPage.Contact' | translate }}</a>
                    </li>
                </ul>
                <a class="btn btn-outline-primary text-white ml-3">{{ 'AppPage.SignUp' | translate }}</a>
            </div>
        </nav>
    </div>
</div>
<!-- nav part end -->

<router-outlet></router-outlet>

<!-- footer part start -->
<footer class="bg-secondary pt-5">
    <section class="section border-bottom border-color">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-5 mb-4 mb-md-0">
                    <img src="assets/images/logo/logo.png" class="mb-4" alt="{{ 'Voicipher' | translate }}">
                    <p class="text-light mb-4">{{ 'AppPage.FooterText' | translate }}</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4 class="text-white mb-4">Services</h4>
                    <ul class="list-styled list-hover-underline">
                        <li class="mb-3 text-light"><a [routerLink]="getLink('about')" class="text-light">{{
                                'AppPage.WhatIsVoicipher' | translate }}</a></li>
                        <li class="mb-3 text-light"><a [routerLink]="getLink('howTo')" class="text-light">{{
                                'AppPage.HowTo' | translate }}</a></li>
                        <li class="mb-3 text-light"><a [routerLink]="getLink('pricing')" class="text-light">{{
                                'AppPage.Pricing' | translate }}</a></li>
                        <li class="mb-3 text-light"><a [routerLink]="getLink('contact')" class="text-light">{{
                                'AppPage.Contact' | translate }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <h4 class="text-white mb-4">{{ 'AppPage.ContactInfo' | translate }}</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a class="text-light" href="mailto:support@voicipher.com">
                                support@voicipher.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- footer part end -->

    <!-- copyright part start -->
    <section class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="mb-0 text-light">{{ 'AppPage.Copyright' | translate }}</p>
                </div>
                <div class="col-md-6 text-md-right text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a [routerLink]="getLink('terms')" class="text-light">{{
                                'AppPage.TermsOfService' | translate }}</a>
                        </li>
                        <li class="list-inline-item">| &nbsp;<a [routerLink]="getLink('privacy')" class="text-light">{{
                                'AppPage.PrivacyPolicy' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- copyright part end -->
</footer>