<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ 'MessageDetailPage.Messages' | translate}}</h1>
</div>

<!-- Content -->
<div class="card shadow mb-4">
    <ng-container *ngIf="message$ | async as message; else messageNotFoud">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{message.title}}</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            {{message.description}}
        </div>
    </ng-container>
</div>

<ng-template #messageNotFoud>
    <div class="card-body">
        <p>{{ 'MessageDetailPage.NotFound' | translate }}</p>
    </div>
</ng-template>