<section class="page-title page-title-overlay bg-cover" data-background="assets/images/background/about.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="text-white position-relative">
                    {{ 'HowTo.Headline' | translate }}<span class="watermark-sm">{{ 'Voicipher' | translate }}</span>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="section section-lg-bottom">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 order-2 order-lg-1">
                <ol class="lead">
                    <li>{{ 'HowTo.Text1' | translate }}</li>
                    <li>{{ 'HowTo.Text2' | translate }}</li>
                    <li>{{ 'HowTo.Text3' | translate }}</li>
                    <li>{{ 'HowTo.Text4' | translate }}</li>
                    <li>{{ 'HowTo.Text5' | translate }}</li>
                </ol>
            </div>
        </div>
    </div>
</section>