<section class="page-title page-title-overlay bg-cover" data-background="images/background/about.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-white position-relative">
                    {{ 'TermsPage.Headline' | translate }}<span class="watermark-sm">{{ 'TermsPage.Headline' | translate
                        }}</span>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <h3>{{ 'TermsPage.Text1' | translate }}</h3>
            <p class="lead">
                {{ 'TermsPage.Text2' | translate }}<a [routerLink]="['/']">https://voicipher.com/</a>{{
                'TermsPage.Text3' | translate }}
            </p>
            <h3>{{ 'TermsPage.Text4' | translate }}</h3>
            <ol type="a">
                <li>{{ 'TermsPage.Text5' | translate }}
                    <ol type="i">
                        <li>{{ 'TermsPage.Text6' | translate }}</li>
                        <li>{{ 'TermsPage.Text7' | translate }}</li>
                        <li>{{ 'TermsPage.Text8' | translate }}</li>
                        <li>{{ 'TermsPage.Text9' | translate }}</li>
                        <li>{{ 'TermsPage.Text10' | translate }}</li>
                    </ol>
                </li>
                <li>{{ 'TermsPage.Text11' | translate }}</li>
            </ol>
            <h3>{{ 'TermsPage.Text12' | translate }}</h3>
            <ol type="a">
                <li>{{ 'TermsPage.Text13' | translate }}</li>
                <li>{{ 'TermsPage.Text14' | translate }}</li>
            </ol>
            <h3>{{ 'TermsPage.Text15' | translate }}</h3>
            <p class="lead">{{ 'TermsPage.Text16' | translate }}</p>
            <h3>{{ 'TermsPage.Text17' | translate }}</h3>
            <p class="lead">{{ 'TermsPage.Text18' | translate }}</p>
            <h3>{{ 'TermsPage.Text19' | translate }}</h3>
            <p class="lead">{{ 'TermsPage.Text20' | translate }}</p>
            <h3>{{ 'TermsPage.Text21' | translate }}</h3>
            <p class="lead">{{ 'TermsPage.Text22' | translate }}</p>
            <h3>{{ 'TermsPage.Text23' | translate }}</h3>
            <p class="lead">{{ 'TermsPage.Text24' | translate }}</p>
        </div>
    </div>
</section>