<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ 'Files' | translate }}</h1>
</div>

<!-- Content -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{ 'FilesPage.FilesOverview' | translate }}</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <a [routerLink]="['/files/create']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-3">
            <i class="fas fa-plus-circle fa-sm text-white-50"></i> {{ 'FilesPage.CreateNew' | translate }}
        </a>

        <ul *ngIf="audioFile$ | async as audioFiles" class="list-group">
            <li *ngFor="let audioFile of audioFiles" class="list-group-item">
                <div class="row">
                    <div class="col">
                        <div class="title">
                            <div [className]="audioFile.status | lowercase">
                                <label class="mr-2">{{audioFile.name}}</label>
                                <p-chip [label]="audioFile.status | recognitionStateKey | translate"
                                    styleClass="p-mr-2">
                                </p-chip>
                            </div>
                        </div>
                        <div class="subtitle">
                            <span class="date">{{audioFile.dateCreated | date}}</span>
                            <span *ngIf="audioFile.status == 'InProgress'" class="text-primary ml-2">
                                ({{audioFile.percentageDone}}%)
                            </span>
                        </div>
                    </div>
                    <div class="buttons col-3 text-right">
                        <button pButton pRipple *ngIf="audioFile.canTranscribe" type="button" icon="pi pi-file"
                            (click)="transcribe(audioFile)" class="p-button-rounded mr-2"
                            [pTooltip]="'FilesPage.Transcribe' | translate" tooltipPosition="top"></button>
                        <button pButton pRipple *ngIf="audioFile.canTranscribe" [disabled]="audioFile.isInProgress"
                            (click)="navigateToPage('/files/edit', audioFile.id)" type="button" icon="pi pi-pencil"
                            class="p-button-rounded mr-2" [pTooltip]="'FilesPage.Edit' | translate"
                            tooltipPosition="top"></button>
                        <button pButton pRipple *ngIf="audioFile.isCompleted" [disabled]="audioFile.isInProgress"
                            (click)="navigateToPage('/files', audioFile.id)" type="button" icon="pi pi-pencil"
                            class="p-button-rounded mr-2" [pTooltip]="'FilesPage.Detail' | translate"
                            tooltipPosition="top"></button>
                        <button pButton pRipple *ngIf="audioFile.isCompleted" [disabled]="audioFile.isInProgress"
                            (click)="sendEmail(audioFile)" type="button" icon="pi pi-envelope"
                            class="p-button-rounded mr-2" [pTooltip]="'FilesPage.SendEmail' | translate"
                            tooltipPosition="top"></button>
                        <button pButton pRipple [disabled]="audioFile.isInProgress" type="button" icon="pi pi-times"
                            (click)="delete($event, audioFile)" class="p-button-rounded p-button-danger"
                            [pTooltip]="'FilesPage.Delete' | translate" tooltipPosition="top"></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>