<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ 'Files' | translate }}</h1>
</div>

<!-- Content -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{ 'FilesPage.FilesOverview' | translate }}</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <a [routerLink]="['/files/create']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-3">
            <i class="fas fa-plus-circle fa-sm text-white-50"></i> {{ 'FilesPage.FilesOverview' | translate }}
        </a>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="table-header">{{ 'FilesPage.Name' | translate }}</th>
                        <th class="table-header">{{ 'FilesPage.DateCreated' | translate }}</th>
                        <th class="table-header">{{ 'FilesPage.Status' | translate }}</th>
                        <th class="table-header">{{ 'FilesPage.Actions' | translate }}</th>
                    </tr>
                </thead>
                <tbody *ngIf="audioFile$ | async as audioFiles">
                    <tr *ngFor="let audioFile of audioFiles">
                        <td><label>{{audioFile.name}}</label></td>
                        <td><label>{{audioFile.dateCreated | date}}</label></td>
                        <td>
                            <label class="col-md-8">{{audioFile.recognitionStateString}}</label>
                            <i class="pi pi-check"></i>
                        </td>
                        <td class="actions">
                            <!--Transcribe-->
                            <button pButton pRipple type="button" icon="pi pi-file" class="p-button-rounded mr-2"
                                [pTooltip]="'FilesPage.Transcribe' | translate" tooltipPosition="top"></button>
                            <!--Edit-->
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded mr-2"
                                [pTooltip]="'FilesPage.Edit' | translate" tooltipPosition="top"></button>
                            <!--Detail-->
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded mr-2"
                                [pTooltip]="'FilesPage.Detail' | translate" tooltipPosition="top"></button>
                            <!--Send email-->
                            <button pButton pRipple type="button" icon="pi pi-envelope" class="p-button-rounded mr-2"
                                [pTooltip]="'FilesPage.SendEmail' | translate" tooltipPosition="top"></button>
                            <!--Delete-->
                            <button pButton pRipple type="button" icon="pi pi-times"
                                class="p-button-rounded p-button-danger" [pTooltip]="'FilesPage.Delete' | translate"
                                tooltipPosition="top"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>