<!-- banner -->
<section class="hero-area hero-area-lg position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-left mb-4 mb-lg-0">
                <h1 class="text-dark position-relative">{{ 'HomePage.BannerText1' | translate }}<span
                        class="watermark">{{ 'HomePage.Save' | translate }}</span>
                </h1>
                <p class="text-dark mb-3 perex">{{ 'HomePage.BannerText2' | translate }}</p>
                <p class="text-dark mb-4 font-weight-bold perex">{{ 'HomePage.BannerText3' | translate }}</p>
                <ul class="list-inline">
                    <li class="list-inline-item mx-1 my-2">
                        <a [href]="getProfileUrl()" class="btn btn-outline-primary">
                            <i class="fa fa-desktop text-secondary mr-3 transition"></i>{{ 'HomePage.Web' | translate }}
                        </a>
                    </li>
                    <li class="list-inline-item mx-1 my-2">
                        <a href="https://play.google.com/store/apps/details?id=com.voicipher.mobile&hl=en"
                            target="_blank" class="btn btn-outline-primary">
                            <i class="fa fa-google text-secondary mr-3 transition"></i>{{ 'HomePage.GooglePlay' |
                            translate }}
                        </a>
                    </li>
                    <li class="list-inline-item mx-1 my-2">
                        <a href="https://apps.apple.com/us/app/voicipher/id1487304758?l=sk&ls=1" target="_blank"
                            class="btn btn-outline-primary">
                            <i class="fa fa-apple text-secondary mr-3 transition"></i>{{ 'HomePage.AppStore' | translate
                            }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="assets/images/homepage/screen.png" class="img-fluid w-100 shadow rounded-lg"
                    alt="{{ 'HomePage.Image1' | translate }}" data-aos="fade-left" data-aos-delay="1000">
            </div>
        </div>
    </div>
    <img src="assets/images/homepage-3/banner-shape.png" class="img-fluid bg-shape-1"
        alt="{{ 'HomePage.Image8' | translate }}">
</section>
<!-- banner -->

<!-- headline -->
<section class="bg-light py-5 mb-5">
    <div class="container">
        <div class="row">
            <h2 class="section-title text-center w-100 text-color mb-0">
                {{ 'HomePage.Text1' | translate }}
            </h2>
        </div>
    </div>
</section>
<!-- headline -->

<!-- integration -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-lg-5 image-wrapper">
                <img src="assets/images/homepage/screen1.png" class="img-fluid"
                    alt="{{ 'HomePage.Image2' | translate }}" data-aos="fade-right">
            </div>
            <div class="col-md-6 pl-lg-5">
                <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">
                    {{ 'HomePage.Text2' | translate }}
                </h2>
                <p class="mb-4 perex" data-aos="fade-up" data-aos-delay="400">
                    {{ 'HomePage.Text3' | translate }}
                </p>
                <ul class="list-unstyled">
                    <li class="d-flex mb-4" data-aos="fade-up" data-aos-delay="500">
                        <div class="pr-3 pr-lg-5">
                            <i class="fa fa-check text-secondary bg-white shadow icon-sm"></i>
                        </div>
                        <div>
                            <h5>{{ 'HomePage.Text4' | translate }}</h5>
                            <p>{{ 'HomePage.Text5' | translate }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-lg-5">
                <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">
                    {{ 'HomePage.Text6' | translate }}
                </h2>
                <p class="perex mb-5" data-aos="fade-up" data-aos-delay="300">
                    {{ 'HomePage.Text7' | translate }}
                </p>
                <div>
                    <select class="browser-default custom-select">
                        <option>{{ 'HomePage.Text8' | translate }}</option>
                        <option value="en-AU">{{ 'HomePage.English' | translate }}</option>
                        <option value="de-DE">{{ 'HomePage.German' | translate }}</option>
                        <option value="fr-FR">{{ 'HomePage.French' | translate }}</option>
                        <option value="es-ES">{{ 'HomePage.Spanish' | translate }}</option>
                        <option value="it-IT">{{ 'HomePage.Italian' | translate }}</option>
                        <option value="pt-PT">{{ 'HomePage.Portuguese' | translate }}</option>
                        <option value="sk-SK">{{ 'HomePage.Slovak' | translate }}</option>
                        <option value="cs-CZ">{{ 'HomePage.Czech' | translate }}</option>
                        <option value="pl-PL">{{ 'HomePage.Polish' | translate }}</option>
                        <option value="hu-HU">{{ 'HomePage.Hungarian' | translate }}</option>
                        <option value="ru-RU">{{ 'HomePage.Russian' | translate }}</option>
                        <option value="ja-JP">{{ 'HomePage.Japanese' | translate }}</option>
                        <option value="zh">{{ 'HomePage.Chinese' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 pl-lg-5 image-wrapper">
                <img src="assets/images/homepage/screen2.png" class="img-fluid"
                    alt="{{ 'HomePage.Image3' | translate }}" data-aos="fade-left" data-aos-delay="200">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-lg-5 image-wrapper">
                <img src="assets/images/homepage/screen3.png" class="img-fluid"
                    alt="{{ 'HomePage.Image4' | translate }}" data-aos="fade-right">
            </div>
            <div class="col-md-6 pl-lg-5">
                <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">
                    {{ 'HomePage.Text9' | translate }}
                </h2>
                <p class="mb-4 perex" data-aos="fade-up" data-aos-delay="400">
                    {{ 'HomePage.Text10' | translate }}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-lg-5">
                <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">
                    {{ 'HomePage.Text11' | translate }}
                </h2>
                <p class="perex" data-aos="fade-up" data-aos-delay="300">
                    {{ 'HomePage.Text12' | translate }}
                </p>
            </div>
            <div class="col-md-6 pl-lg-5 image-wrapper web">
                <img src="assets/images/homepage/screen4.png" class="img-fluid"
                    alt="{{ 'HomePage.Image5' | translate }}" data-aos="fade-left" data-aos-delay="200">
            </div>
        </div>
    </div>
</section>
<!-- integration -->

<!-- feature -->
<section class="position-relative mb-5">
    <div class="container">
        <div class="row feature-box">
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000"
                data-aos-delay="00">
                <div class="card border-0 shadow rounded-xs pt-5 h-100">
                    <div class="card-body">
                        <i class="fa fa-desktop icon-lg icon-blue icon-bg-blue icon-bg-circle mb-3"></i>
                        <h4 class="mt-4 mb-3">
                            {{ 'HomePage.Text13' | translate }}
                        </h4>
                        <p>{{ 'HomePage.Text14' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000"
                data-aos-delay="300">
                <div class="card border-0 shadow rounded-xs pt-5 h-100">
                    <div class="card-body">
                        <i class="fa fa-clock-o icon-lg icon-green icon-bg-green icon-bg-circle mb-3"></i>
                        <h4 class="mt-4 mb-3">{{ 'HomePage.Text15' | translate }}</h4>
                        <p>{{ 'HomePage.Text16' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000"
                data-aos-delay="100">
                <div class="card border-0 shadow rounded-xs pt-5 h-100">
                    <div class="card-body">
                        <i class="fa fa-gears icon-lg icon-orange icon-bg-orange icon-bg-circle mb-3"></i>
                        <h4 class="mt-4 mb-3">{{ 'HomePage.Text17' | translate }}</h4>
                        <p>{{ 'HomePage.Text18' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000"
                data-aos-delay="200">
                <div class="card border-0 shadow rounded-xs pt-5 h-100">
                    <div class="card-body">
                        <i class="fa fa-shield icon-lg icon-purple icon-bg-purple icon-bg-circle mb-3"></i>
                        <h4 class="mt-4 mb-3">{{ 'HomePage.Text19' | translate }}</h4>
                        <p>{{ 'HomePage.Text20' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/dot/dot-1.png" class="img-fluid feature-bg-shape-1"
        alt="{{ 'HomePage.Image6' | translate }}">
    <img src="assets/images/shape/shape-bg.png" class="img-fluid feature-bg-shape-2"
        alt="{{ 'HomePage.Image7' | translate }}">
</section>
<!-- feature -->

<!-- download -->
<section class="section bg-gradient-purple bg-triangles position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto text-center">
                <h2 class="section-title text-white">
                    {{ 'HomePage.Text21' | translate }}
                </h2>
                <p class="text-white perex mb-5">
                    {{ 'HomePage.Text22' | translate }}
                </p>
            </div>
            <div class="w-100">
                <ul class="list-inline text-center">
                    <li class="list-inline-item mx-1 my-2">
                        <a [href]="getProfileUrl()" class="btn btn-outline-primary text-white border-white">
                            <i class="fa fa-desktop text-white mr-3 transition"></i>{{ 'HomePage.Web' | translate }}
                        </a>
                    </li>
                    <li class="list-inline-item mx-1 my-2">
                        <a href="https://play.google.com/store/apps/details?id=com.voicipher.mobile&hl=en"
                            target="_blank" class="btn btn-outline-primary text-white border-white">
                            <i class="fa fa-google text-white mr-3 transition"></i>{{ 'HomePage.GooglePlay' | translate
                            }}
                        </a>
                    </li>
                    <li class="list-inline-item mx-1 my-2">
                        <a href="https://apps.apple.com/us/app/voicipher/id1487304758?l=sk&ls=1" target="_blank"
                            class="btn btn-outline-primary text-white border-white">
                            <i class="fa fa-apple text-white mr-3 transition"></i>{{ 'HomePage.AppStore' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- download -->