.perex {
    font-size: 19px;
}
.feature-box {
    height: 280px;
}
.border-white {
    border-color: #ffffff;
}
.list-inline-item span.btn.btn-outline-primary {
    cursor: default;
}
.image-wrapper {
    height: 500px;
    text-align: center;
}
.image-wrapper.web {
    height: 300px;
}
.image-wrapper img {
    height: 100%;
}