<!-- banner -->
<section class="hero-area hero-area-lg position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-left mb-4 mb-lg-0">
                <h1 class="text-dark position-relative">Save time you spend transcribing<span
                        class="watermark">Save</span>
                </h1>
                <p class="text-dark mb-3 perex">Increase your productivity. Convert audio to text easy and fast.</p>
                <p class="text-dark mb-4 font-weight-bold perex">Let Voicipher do it for you.</p>
                <ul class="list-inline">
                    <li class="list-inline-item mx-1 my-2">
                        <a (click)="login()" class="btn btn-outline-primary">
                            <i class="fa fa-desktop text-secondary mr-3 transition"></i>Web
                        </a>
                    </li>
                    <li class="list-inline-item mx-1 my-2">
                        <a href="https://play.google.com/store/apps/details?id=com.voicipher.mobile&hl=en"
                            target="_blank" class="btn btn-outline-primary">
                            <i class="fa fa-google text-secondary mr-3 transition"></i>Google Play
                        </a>
                    </li>
                    <li class="list-inline-item mx-1 my-2">
                        <a href="https://apps.apple.com/us/app/voicipher/id1487304758?l=sk&ls=1" target="_blank"
                            class="btn btn-outline-primary">
                            <i class="fa fa-apple text-secondary mr-3 transition"></i>App Store
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="assets/images/homepage/screen.png" class="img-fluid w-100 shadow rounded-lg"
                    alt="app-interface" data-aos="fade-left" data-aos-delay="1000">
            </div>
        </div>
    </div>
    <img src="assets/images/homepage-3/banner-shape.png" class="img-fluid bg-shape-1" alt="shape">
</section>
<!-- banner -->

<!-- headline -->
<section class="bg-light py-5 mb-5">
    <div class="container">
        <div class="row">
            <h2 class="section-title text-center w-100 text-color mb-0">
                Simple, accurate and reliable.
            </h2>
        </div>
    </div>
</section>
<!-- headline -->

<!-- integration -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-lg-5 image-wrapper">
                <img src="assets/images/homepage/screen1.png" class="img-fluid" alt="dashboard" data-aos="fade-right">
            </div>
            <div class="col-md-6 pl-lg-5">
                <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">
                    Audio and real speech to text
                </h2>
                <p class="mb-4 perex" data-aos="fade-up" data-aos-delay="400">
                    Upload your file or use a real time dictation on your phone. Choose the language and receive a
                    transcript of your audio.
                </p>
                <ul class="list-unstyled">
                    <li class="d-flex mb-4" data-aos="fade-up" data-aos-delay="500">
                        <div class="pr-3 pr-lg-5">
                            <i class="fa fa-check text-secondary bg-white shadow icon-sm"></i>
                        </div>
                        <div>
                            <h5>Powered by machine learning</h5>
                            <p>Up to 96% accurate AI transcription</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-lg-5">
                <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">
                    15 languages available
                </h2>
                <p class="perex mb-5" data-aos="fade-up" data-aos-delay="300">
                    English, German, French, Spanish, Italian, Portuguese, Slovak, Czech, Russian, Hungarian and more.
                </p>
                <div>
                    <select class="browser-default custom-select">
                        <option>Check if your language is available</option>
                        <option value="en-AU">English</option>
                        <option value="de-DE">German</option>
                        <option value="fr-FR">French</option>
                        <option value="es-ES">Spanish</option>
                        <option value="it-IT">Italian</option>
                        <option value="pt-PT">Portuguese</option>
                        <option value="sk-SK">Slovak</option>
                        <option value="cs-CZ">Czech</option>
                        <option value="pl-PL">Polish</option>
                        <option value="hu-HU">Hungarian</option>
                        <option value="ru-RU">Russian</option>
                        <option value="ja-JP">Japanese</option>
                        <option value="zh">Chinese (Mandarin)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 pl-lg-5 image-wrapper">
                <img src="assets/images/homepage/screen2.png" class="img-fluid" alt="dashboard" data-aos="fade-left"
                    data-aos-delay="200">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-lg-5 image-wrapper">
                <img src="assets/images/homepage/screen3.png" class="img-fluid" alt="dashboard" data-aos="fade-right">
            </div>
            <div class="col-md-6 pl-lg-5">
                <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">
                    Check and edit your transcript
                </h2>
                <p class="mb-4 perex" data-aos="fade-up" data-aos-delay="400">
                    Make any in-text changes and download a ready-to use document. Navigate in text better thanks to
                    timestamps.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-lg-5">
                <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">
                    Access your data via phone or computer
                </h2>
                <p class="perex" data-aos="fade-up" data-aos-delay="300">
                    Upload a file via phone and edit it on a computer. Or vice versa.
                </p>
            </div>
            <div class="col-md-6 pl-lg-5 image-wrapper web">
                <img src="assets/images/homepage/screen4.png" class="img-fluid" alt="dashboard" data-aos="fade-left"
                    data-aos-delay="200">
            </div>
        </div>
    </div>
</section>
<!-- integration -->

<!-- feature -->
<section class="position-relative mb-5">
    <div class="container">
        <div class="row feature-box">
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000"
                data-aos-delay="00">
                <div class="card border-0 shadow rounded-xs pt-5 h-100">
                    <div class="card-body">
                        <i class="fa fa-desktop icon-lg icon-blue icon-bg-blue icon-bg-circle mb-3"></i>
                        <h4 class="mt-4 mb-3">
                            Free trial
                        </h4>
                        <p>10 minutes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000"
                data-aos-delay="300">
                <div class="card border-0 shadow rounded-xs pt-5 h-100">
                    <div class="card-body">
                        <i class="fa fa-clock-o icon-lg icon-green icon-bg-green icon-bg-circle mb-3"></i>
                        <h4 class="mt-4 mb-3">No commitment</h4>
                        <p>Pay-As-You-Go</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000"
                data-aos-delay="100">
                <div class="card border-0 shadow rounded-xs pt-5 h-100">
                    <div class="card-body">
                        <i class="fa fa-gears icon-lg icon-orange icon-bg-orange icon-bg-circle mb-3"></i>
                        <h4 class="mt-4 mb-3">Export options</h4>
                        <p>download in docx or send to email</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000"
                data-aos-delay="200">
                <div class="card border-0 shadow rounded-xs pt-5 h-100">
                    <div class="card-body">
                        <i class="fa fa-shield icon-lg icon-purple icon-bg-purple icon-bg-circle mb-3"></i>
                        <h4 class="mt-4 mb-3">Supported formats</h4>
                        <p>m4a and wav formats</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/dot/dot-1.png" class="img-fluid feature-bg-shape-1" alt="background-dots">
    <img src="assets/images/shape/shape-bg.png" class="img-fluid feature-bg-shape-2" alt="background-shape">
</section>
<!-- feature -->

<!-- download -->
<section class="section bg-gradient-purple bg-triangles position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto text-center">
                <h2 class="section-title text-white">
                    Try Voicipher now
                </h2>
                <p class="text-white perex mb-5">
                    Start on computer or download our app on any mobile device!
                </p>
            </div>
            <div class="w-100">
                <ul class="list-inline text-center">
                    <li class="list-inline-item mx-1 my-2">
                        <a (click)="login()" class="btn btn-outline-primary text-white border-white">
                            <i class="fa fa-desktop text-white mr-3 transition"></i>Web
                        </a>
                    </li>
                    <li class="list-inline-item mx-1 my-2">
                        <a href="https://play.google.com/store/apps/details?id=com.voicipher.mobile&hl=en"
                            target="_blank" class="btn btn-outline-primary text-white border-white">
                            <i class="fa fa-google text-white mr-3 transition"></i>Google Play
                        </a>
                    </li>
                    <li class="list-inline-item mx-1 my-2">
                        <a href="https://apps.apple.com/us/app/voicipher/id1487304758?l=sk&ls=1" target="_blank"
                            class="btn btn-outline-primary text-white border-white">
                            <i class="fa fa-apple text-white mr-3 transition"></i>App Store
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- download -->